.list-inline {
  white-space:nowrap;
}

#pbBody button{
    width:100px;
    white-space:normal;
    height:60px ;
}

#pbBody li label{
    width:100px;
    white-space:normal;
    height:60px ;
}


#pbBody small{
    width:100px;

    white-space:normal;
     display: inline-block;
}

#pbBody .panel{
    width:auto;
    display:inline-block;
}

