 .list-inline {
  white-space:nowrap;
  float:none;
}


#choose-pop-modal .ul{
     float: none;
    margin: 0 auto;
}
#pbBody .list-inline button{
    width:100px;
    white-space:normal;
    height:60px ;
}

#pbBody li label{
    width:100px;
    white-space:normal;
    height:60px ;
}


#pbBody small{
    width:100px;

    white-space:normal;
     display: inline-block;
}

#pbBody .panel{
    width:auto;
    display:inline-block;
}

.modal .panel-body{
        min-height:90px;
}

#pbBody td{
    vertical-align:top;
}

#pbBody table{
     table-layout:fixed;
    overflow:auto; 
    white-space: nowrap; 
}

#pbBody .scrollable-col{
    float:none;
    display:inline-block;
    vertical-align:top;
}

#pbBody .scrollable-container{
    white-space:nowrap;
    overflow-x:auto;
}

#pbBody .resource-view .panel{
    min-width:200px;
}

#upgrade-view .row li{
    padding-bottom:10px;
}