.list-inline {
  white-space:nowrap;
}

#techtable button{
    width:100px;
    white-space:normal;
    height:60px ;
}

#techtable small{
    width:100px;

    white-space:normal;
     display: inline-block;
}

#techtable .panel{
    width:auto;
    display:inline-block;
}

